/* TEMPORARY */
.longahh {
    height: 1100vh;
    color: rgb(31, 26, 36)
}
* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
    list-style-type: none;
}
body {
    max-width: 100%;
}

.burger {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 20px;
    left: 20px;
}

.circle {
    position: fixed;
    z-index: 2;
    border: solid 4px white;
    border-radius: 100%;
    transition: 1s ease;
}
.line {
    border: 2px rgb(0, 24, 5) solid;
    width: 40px;
    height: 3px;
    border-radius: 10%;
}
.lineOpacity {
    opacity: 20%;
}
.crisscross {
    opacity: 0;
}
.navbar {
    position: fixed;
    top: -100vh;
    transition: 1s;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 76%, rgba(255,255,255,0) 100%);
}
.open {
    top:0vh;
    z-index: 1;
}

.visable {
    opacity: 100%;
    top:0;
}

.intro {
    display: flex;
    justify-content: center;
}

.introbild {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.637);
}

h1 {
    font-family: "eckmannpsych-small", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    mix-blend-mode: difference;
}

h2, h3 {
    font-family: "eckmannpsych-small", sans-serif;
    color: beige;
}

h2 {
    font-size: 30px;
    position: relative;
}

.longahh {
    display: flex;
    justify-content: center;
}


.name {
    position: absolute;
    top:45vh;
    color: aliceblue;
    transition: 0.7s ease;
}

#footer {
    background-color: rgb(50, 42, 58);
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.aboutme {
    width: 70%;
    text-align: center;
}

p {
    color:beige;
}

.contact {
    color: beige;
    display: flex;
    flex-direction: column;
align-items: center;
}
.contact:hover {
    color: rgb(201, 201, 201);
}






@media (min-width: 768px) {
    h1 {
        font-size: 60px;
    }
    .navbar {
        height: 5vh;
        flex-direction: row;
    }
    .burger {
        top: -300px;
        opacity: 0;
    }
}
