* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
    list-style-type: none;
}
body {
    max-width: 100%;
}

#wrapper {
    width: 100%;
}

.burger {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 20px;
    left: 20px;
}

.circle {
    position: fixed;
    z-index: 4 ;
    border: solid 4px white;
    border-radius: 100%;
    transition: 1s ease;
}
.line {
    border: 2px rgb(0, 24, 5) solid;
    width: 40px;
    height: 3px;
    border-radius: 10%;
}
.lineOpacity {
    opacity: 20%;
}
.crisscross {
    opacity: 0;
}
.navbar {
    position: fixed;
    top: -100vh;
    transition: 0.4s ease;
    z-index:3;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100%;
    background: rgb(20, 20, 20);
}
.navToggle {
    color: beige;
    text-decoration: none;
}
.open {
    top:0vh;
    z-index: 3;
}

.visable {
    opacity: 100%;
    top:0;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.logo {
    height: 30%;
}

.name {
    position: absolute;
    top:45vh;
    color: aliceblue;
    transition: 0.7s ease;
}


h1 {
    font-family: "eckmannpsych-small", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    mix-blend-mode: difference;
}

h2 {
    font-family: "eckmannpsych-small", sans-serif;
    color: rgb(40, 44, 39);
}
h3 {
    font-family: "eckmannpsych-small", sans-serif;
    color: beige;
}

h2 {
    font-size: 15vw;
}


.longahh {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.bigtext {
    position: relative;
    top: -3rem;
}

.cardcontainer {
    position: relative;
    top: -3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.card {
    background-color: rgb(20, 20, 20);
    margin: 1rem;
    transition: 0.5s ease;

    height: 100vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
}
.card:hover {
    height: 81vw;
    width: 61vw;
    transition: 0.5s ease;
    box-shadow: 4px 4px 4px #000000;
}

.propic {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.computer {
    display: none;
}

.phone {
    display: block;
}

.cardinfo {
    margin: 1rem;
}
.carddisc {
    display:none;
}

#aboutmecontainer{
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mecard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
}
.pictur {
    height: 50vh;
    margin: 50px;
}
.hellotitle {
    font-size: 3rem;
    text-align: center;
}

.cv {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.cvh3 {
    color: rgb(20, 20, 20);
    font-size:xx-large;

}

.column {
    width: 10rem;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    background-color: rgb(20, 20, 20);
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footinfo {
    width: 70%;
    text-align: center;
}

p {
    color:beige;
}

.contact {
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact:hover {
    color: rgb(201, 201, 201);
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(50, 42, 58, 0.4);
}

.modalmodal {
    display: block;
}

.modalinfo {
    padding: 20px;
    padding-top: 40px;
}

.close {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    right: 20px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*https://www.w3schools.com/howto/howto_css_modals.asp*/
/*https://www.w3schools.com/howto/howto_js_slideshow.asp*/

.slideshow-container {
    max-width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.slide {
    display: none;
}
.number {
    color: beige;
    text-align: center;
}
.slideimg {
    max-height: 60vh;
    max-width: 90vw;
}
.svg {
    height: 60vh;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(50, 42, 58);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev {
    left: 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

.fade {
    animation-name: fade;
    animation-duration: 0.3s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


@media (min-width: 750px) {
    h1 {
        font-size: 60px;
    }
    .navbar {
        height: 5vh;
        flex-direction: row;
    }
    .logo {
        height: 80%;
    }
    .burger {
        top: -300px;
        opacity: 0;
    }
    .card {
        height: 40vw;
        width: 60vw;
        flex-direction: row;
    }
    .card:hover {
        height: 41vw;
    }
    .propic {
        width: 70%;
        height: 100%;
    }
    .computer {
        display: block;
    }
    .phone {
        display: none;
    }
    .carddisc {
        display:block;
    }
    .mecard {
        flex-direction: row;
        width: 60vw;
    }
    .hellotitle {
        font-size: 3rem;
        text-align:left;
    }
}